{% extends "base.html" %}

{% block lab %}Лабораторная работа 1{% endblock %}

{% block lab_header %}Лабораторная работа 1{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ css_path }}">
    </head>
    <body>
        <header>
            <h1>Создано успешно</h1>
        </header>
        <div><i>что-то созданно ...</i></div>
        <footer>
            <p>ФИО: Афанасов Геракл Георгиевич</p>
            <p>Группа: ФБИ-22</p>
            <p>Курс: 2</p>
            <p>Год: 2023</p>
        </footer>
    </body>
{% endblock %}