<!doctype html>
<html>
    <head>
        <title>Кастомная страница</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            .content {
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Добро пожаловать на кастомную страницу</h1>
        </header>
        <div class="content">
            <p>
                Это пример страницы, которая демонстрирует работу с несколькими
                абзацами текста. Веб-разработка может быть увлекательной и интересной, особенно
                когда вы создаете что-то новое и функциональное.
            </p>
            <p>
                Flask является мощным и гибким микрофреймворком для создания веб-приложений
                на Python. Он предоставляет разработчикам возможность быстро и эффективно создавать
                веб-сервисы, не перегружая их сложными библиотеками.
            </p>
            <p>
                Помимо работы с текстом, веб-страницы часто содержат изображения, которые
                делают их более привлекательными для пользователей. В нашем случае это пример
                изображения ниже:
            </p>
            <img src="{{ image_url }}" alt="Пример изображения">
            <p>
                Этот текст демонстрирует работу с несколькими абзацами и изображениями,
                а также добавление кастомных заголовков в ответ сервера.
            </p>
        </div>
        <footer>
            <p>ФИО: Афанасов Геракл Георгиевич</p>
            <p>Группа: ФБИ-22</p>
            <p>Год: 2023</p>
        </footer>
    </body>
</html>